type sysfs_firmware_writable, fs_type, sysfs_type;
type sysfs_devices_tegradc, fs_type, sysfs_type;

# CMHW Tunables
type doubletap2wake_dev, fs_type, sysfs_type;
type sweep2wake_dev, fs_type, sysfs_type;
